pkgbase = steer
	pkgdesc = Transparent proxy policy compiler and Linux systemd adapter
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/gsh20040816/steer
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = go
	depends = ca-certificates
	depends = geoview
	depends = iproute2
	depends = nftables
	depends = sing-box>=1.13.18
	depends = sing-box<1.14.0
	depends = systemd
	backup = etc/steer/config.json
	backup = etc/steer/platform.json
	backup = etc/steer/web.json
	source = steer::git+https://github.com/gsh20040816/steer.git#tag=v0.6.2
	sha256sums = SKIP

pkgname = steer
